.header {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 75px;
    position: fixed;
    display: flex;
    opacity: 90%;
    /* margin: auto; */
    /* justify-content: space-around; */
}

.header img {
    width: 43px;
    height: 16px;
    padding: 30px;
    /* text-indent: 10px; */
}

ul {
    display: flex;
    list-style: none;
    /* justify-content: center; */
    margin: auto;
    
}
ul li{
    margin: auto 40px;
    border-bottom: 4px solid transparent;
    padding: 8px;
}
.header .item1{
    
    border-bottom-color: black;
    border-width: 4px;
}
.lan{
    padding: 30px;
    
}

.banner {
    background-image: url("/Line圖/mv01.jpg");
    background-size: cover;
    /* margin: auto; */
    width: 100%;
    /* height: 1000px; */
    /* max-height:1000px; */
    /* height: 100%; */
}
.Content{
    /* background-color: tomato; */
    /* width: 100%; */
    /* max-width: 1440px; */
    /* max-height: 1000px; */
    /* height:100%; */
    
    margin:  0px 0px 0px 200px;
    
    display: flex;
    flex-direction: column;
    position: relative;
    /* justify-content: flex-start; */
    
    
}

.Content h2{
    font-size: 150px;
    color: white;
    padding: 300px 0px 10px 0px;
    /* width: 60%; */
    height: 50%;
    /* margin-top: 200px; */
    /* text-align: left; */
}
.Content h3{
    font-size: 50px;
    color: white;
    /* width: 40%; */
    /* height: 10%; */
    /* margin: auto; */
    /* text-indent: 100px; */
}
.Content img{
    width: 25px;
    height: 25px;
    
}
.Content p{
    color: white;
    margin-left: 10px;
}
.Content .row{
    /* background-color: violet; */
    display: flex;
    margin-top: 50px;
    margin-bottom: 350px;
    
    align-items: center;
    width: 10%;
    height: 10%;
}
.Content .show{
    display: flex;
    margin: 20px 0px;
    width: 100px;
    align-items: center;
    /* display: none; */
    /* background-color: yellow; */
    border: 1px solid white;
    padding: 10px 80px 10px 20px;
}

.Content .item{
    /* background-color: aqua; */
    position: absolute;
    bottom: 250px;
    width: 10%;
    /* height: 30%; */
    /* padding-bottom: 1000px; */
    
}

.item .fab,
.item .fas{
    border: 1px dotted white;
    padding: 22px;
    margin-right:5px ;
    color: white;
    border-radius: 7px;
}
.title h3{
    /* width: 100%; */
    font-size: 70px;
    color: black;
    text-align: center;
    margin-bottom: 25px;
}
.title p{
    font-size: 20px;
    text-align: center;
}
h2 {
    font-size: 100px;
    color: white;
}

h3 {
    font-size: 50px;
    color: white;
}

.title {
    width: 960px;
    width: 100%;
    height: auto;
    margin: auto;
    padding: 70px 0px;
}
.footer .top,
        .footer .bottom {
            list-style: none;
            /* display: flex; */
            height: 80px;
            width: 960px;
        }

        /* .footer .top{
            margin: 20px;
            
        } */
        .footer .top li {
            margin: 1px;
            /* padding: 10px; */
        }

        .footer ul {
            width: 90%;
            margin: auto;
            padding: 25px;
        }

        .footer img {
            height: 40px;
            width: 40px;
        }

        .footer .bottom {
            display: flex;

            /* margin: auto; */
        }

        .footer .bottom a {
            margin: auto;
            margin-left: 40px;
            /* padding-top: 40px; */
            /* display: flex; */
        }

        .footer .bottom ul {

            width: 80%;
            margin: auto;
            padding: 10px;
            /* display: flex; */
        }

        .footer .bottom li {
            margin: 0px;
            padding: 0px;
        }

        .footer .bottom img {
            height: 25px;
            width: 25px;
            margin: auto 1px;
        }

        .footer .bottom p {

            margin: auto 20px;
        }

        .footer .bottom a {

            margin: auto 4px;
        }

        .footer .bottom .first {

            margin-left:48px;
        }
        /* @media screen and (max-width:991px){
            .Content .item{
                display: none;
            }
            .Content .row{
                display: none;
            }
            .Content .show{
                display: flex;
            }
        }
        @media screen and (min-width:992px) {
            
            .Content .show{
                display: none;
            }
        } */